.top-ten-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr ;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%

}

.albums-img {
  display: flex;
  flex-direction: column;
}
.albums-ol {
  list-style-position: inside;
  display: flex;
  flex-direction: column;
}
.albums-ol li {
  margin-top: 10px;
  height: 100px;
  width: auto;
  font-size: 1.2em;
}
.tmg {
  background-color: #3f5efb;
}
h1 {
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  color: white;
  font-weight: bold;
  font-size: 3em;
  padding: 0.5em;
  margin-top: 0;
  box-shadow: 3px 2px 20px black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h2,
h3 {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 15px;
  box-shadow: 1px 1px 4px black;
}
h2 {
  background-color: #fc466b;
  color: white;
  font-size: 2em;
  padding: 15px;
  margin-top: 1em;
}
h3 {
  background-color: #9f52b2;
  color: white;
  font-size: 1.7em;
  padding: 15px;
}
main p:first-child {
  margin-top: 20px;
  margin-bottom: 20px;
}
ul li {
  font-weight: 800;
  margin-left: 20%;
  margin-top: 1em;
}

img {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  display: block;
}
ol {
  list-style-position: inside;
  list-style-type: decimal;
}
p {
  font-size: 1.1em;
  line-height: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

@media screen and (min-width: 800px) {
  .top-ten-container {
    grid-template-columns: 1fr 2fr 1fr 2fr;
  }
}

@media screen and (min-width: 500px) {
  h2,
  h3 {
    margin-left: 15%;
    margin-right: 15%;
  }
  p {
    margin-left: 20%;
    margin-right: 20%;
  }
  ul li {
    margin-left: 20%;
    margin-top: 1em;
  }
  .hello {
    margin-left: 15%;
    margin-right: 15%;
  }
  .bio-list {
    margin-left: 20%;
  }
  .top-ten-container {
    gap: 1em;
    row-gap: 1em;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;

  }
}
